<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="liabraryConnectionString" connectionString="server=localhost;user id=root;password=admin@123;persistsecurityinfo=False;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString2" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString3" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString4" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString5" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString6" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString7" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString8" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString9" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString10" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString11" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString12" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString13" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString14" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString15" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString16" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString17" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString18" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString19" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString20" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString21" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString22" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString23" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString24" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString25" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString26" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString27" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString28" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString29" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString30" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
    <add name="liabraryConnectionString31" connectionString="server=localhost;user id=root;password=admin@123;database=liabrary"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>